This diagram didn't end up helping me, but it's a nice example of highlighting things in pandas so I'll include it

In [1]:
import pandas as pd

In [2]:
eg_in = [3, 4, 3, 1, 2]

In [3]:
cols = [i for i in range(9)]
df = pd.DataFrame(columns=cols)
for col in cols:
    df.loc[0, col] = 0
for x in eg_in:
    df.loc[0, x] += 1

In [4]:
days = 18
for i in range(days):
    df.loc[i + 1] = df.loc[i]
    df.loc[i + 1, (i + 7) % 9] += df.loc[i, i % 9]

In [5]:
def highlights(x):
    sdf = x.copy()
    sdf.loc[:, :] = 'background-color: white'
    for i in range(days):
        sdf.loc[i, i % 9] = 'background-color: blue'
        sdf.loc[i + 1, (i + 7) % 9] = 'background-color: green'
    return sdf

In [6]:
df.style.apply(highlights, axis=None)